*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

body {
    display: flex;
    justify-content: space-evenly;
}
.container{
    height: 500px;
    width: 1200px;
    background-color: red;
    display: flex;
    
}