*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #1e1e1e;
}


.container {
    display: flex;              
    background-color: #2d2d2d;
    color: white;
    padding: 40px;
    max-width: 900px;
    margin: 50px auto;
    border-radius: 8px;
}


.left {
    width: 35%;               
    padding-right: 30px;
}

.left h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.left p {
    font-size: 14px;
    line-height: 1.6;
    color: #cccccc;
}


.right {
    width: 65%;                 
    display: flex;
    flex-direction: column;    
    gap: 15px;                
}


.lang-row {
    display: flex;             
    gap: 20px;                 
}


.lang-item {
    display: flex;             
    align-items: center;        
    gap: 8px;                   
    width: 130px;               
}

.lang-item img {
    width: 28px;                
    height: 28px;
}

.lang-item span {
    font-size: 14px;
    color: #cccccc;
}
